{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">     <!--language en, fr-->

<head>
	<link rel="stylesheet" type="text/css" href="style.css">
        <title>  Cabinet dentaire du Docteur SOUISSI Ridha </title>
</head>
<BODY BACKGROUND ="{%static 'firstapp/2.png' %}"> </BODY>
<br>
<br>

<center><FONT COLOR="red"><FONT face="Arial Black"> <FONT SIZE=50> Croquez la vie ... A belles dents :) </FONT> <BR></FONT></center></FONT>

<p>

<div id="box3">
<center> <FONT face="Arial Black"><B>
Nous sommes heureux de vous offrir l'opportunite de decouvrir <br>
notre services disponibles dans notre cabinet, mais aussi, <br>
de vous instruire quand a la dentiserie et afin que vous gardiez <br>
une excellente santé dentaire. <br>
Nous vous garantissons l'excellente qualite de nos soins dentaires.<br>
Nous travaillons avec des materiels a la fine pointe.
</center></B> </font>
</div>
</p>

<br>
<br>
<br>

<div id="box1"> <b> <center>
    <h1><a href="index2.html"> Log In </a> </h1>
</center> </b> </div>



</body>
</html>