{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">     <!--language en, fr-->

<head>
	<link rel="stylesheet" type="text/css" href="style.css">
        <title><div id="box7"><FONT COLOR="red">  Cabinet dentaire du Docteur SOUISSI Ridha</FONT></div> </title>
</head>
<BODY BACKGROUND ="{%static 'firstapp/2.png' %}"> </BODY>

<div id="image1"><img src="{%static 'firstapp/3.jpg' %}" width="120px"/></div>
<div id="image"><img src="{%static 'firstapp/4.jpg' %}" width="120px"/></div>
<br>
<br>

<div id="box2"> <center><FONT face="Arial Black"><h1> Bienvenu chez Docteur SOUISSI Ridha </h1> </FONT> <BR> </center> </div>

<p>
<div id="box6">
<b><h2> Docteur SOUISSI Ridha </h2> </b><br>
45 ans <br>
34 Rue de la Republique <br>
Lyon <br>
Souissi.ridha@gmail.fr <br>
<Li> <b> PRESENTATION </b>
Le dentiste est le docteur qui veille sur votre bouche. À l’aide d’examens, ce professionnel de la santé veille à <BR>
La majorité des dentistes québécois exercent en cabinet privé; certainstravaillent dans le secteur public, <br>
<Li> <b>  PARCOURS PROFESSIONEL </b><BR>
Le dentiste est le docteur qui veille sur votre bouche. À l’aide d’examens,
 ce professionnel de la santé veille à
la prévention, au dépistage, au diagnostic et au traitement des déficiences,


</div>
</p>
</p>

<div id="box7"> <b> <center><h1><a href="file:///C:/Users/ASUS/Desktop/Nouveau%20dossier/formulaire.html"><b> <center>  Prendre Un RDV </center> </b> </a> </h1></center> </b> </div>


</body>
</html>